* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.piano {
  width: max-content;
  margin: 2em auto;
  padding: 1em;
  border: 2px solid black;
}

.piano-keybed {
  width: fit-content;
  margin: 0 1em;
  border: 3px solid #aaa;
  position: relative;
  /* prevent text selection */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.piano-keybed::after {
  content: "";
  clear: both;
  display: block;
}

.piano-key {
  width: 3em;
  height: 10em;
  margin: 0;
  float: left;
  text-align: center;
  vertical-align: text-bottom;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.piano-key span {
  width: 100%;
  text-align: center;
}

.piano-key-black {
  height: 6em;
  width: 2em;
  margin: 0 -1.2em;
  color: #fff;
  background: #000;
  z-index: 2;
}

.piano-key-white {
  border: 2px solid #ccc;
  color: #000;
  background: #fff;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .piano {
    transform: rotate(90deg);
    margin-top: 20em;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
}